META-INF
*.class
nohup.out
/.idea
*.impl
target/
.project
.classpath
*.iml
.settings/
.svn/
.DS_Store
*.pyc
*/bin/
Servers/

# Package Files #
*.jar
build-bootstrap.jar
*.war
*.ear
.metadata
gen-dal/
SPID

.arcconfig
/bin/
